<app-header></app-header>

<div id="sidebar">
    <div >
      <ul class="nav flex-column hover px-0 mx-0 ul">
        <li class="nav-item px-2 pt-3 pb-2 d-flex flex-row" style="cursor: pointer;" [routerLink]="['/dashboard']">
          <div class="col-2 text-center">
              <i class="fas fa-home"></i>
          </div>
          <div class="col-9 ">
              <span class="">Tablero</span>
          </div>
          <div class="col-1 text-center">
              +
          </div>
        </li>
        <li class="nav-item px-2 py-2 d-flex flex-row " style="cursor: pointer;">
          <div class="col-2 text-center">
              <i class="fas fa-user-md"></i>
          </div>
          <div class="col-9 " >
              <span class="col-sm-8">Médico</span>
          </div>
          <div class="col-1 text-center">
              +
          </div>
        </li>
        <li class="nav-item px-2 py-2"  style="cursor: pointer;" >
            <a class="d-flex flex-row " href="#pacientes" data-bs-toggle="collapse" aria-expanded="false" aria-controls="pacientes">
                <div class="col-2 text-center">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="col-9">
                    <span class="">Pacientes</span>
                </div>
                <div class="col-1 text-center">
                    +
                </div>
            </a>
          <ul class="collapse list-unstyled" id="pacientes">
            <li class="nav-item"><a class="nav-link d-flex" [routerLink]="['pacientes']" routerLinkActive="router-link-active" >
                <div class="col-2 text-center">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="col-10 ms-1">
                    <span>Lista</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link d-flex" [routerLink]="['pacientes/formulario']" routerLinkActive="router-link-active" >
                <div class="col-2 text-center">
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="col-10 ms-1">
                    <span>Agregar paciente</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link d-flex" [routerLink]="['pacientes/diagnosticos']" routerLinkActive="router-link-active" >
                <div class="col-2 text-center">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="col-10 ms-1">
                    <span>Diagnósticos</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link d-flex" [routerLink]="['pacientes/diagnosticos/formulario']" routerLinkActive="router-link-active" >
                <div class="col-2 text-center">
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="col-10 ms-1">
                    <span>Agregar diagnóstico</span>
                </div>
            </a></li>
            </ul>
        </li>
        <li class="nav-item px-2 py-2 d-flex flex-row " style="cursor: pointer;" >
          <div class="col-2 text-center">
              <i class="fas fa-clock"></i>
          </div>
          <div class="col-9">
              <span class="">Programar</span>
          </div>
          <div class="col-1 text-center">
              +
          </div>
        </li>
        <li class="nav-item px-2 py-2 d-flex flex-row "  style="cursor: pointer;" >
          <div class="col-2 text-center">
              <i class="fas fa-calendar-check"></i>
          </div>
          <div class="col-9">
              <span >Cita</span>
          </div>
          <div class="col-1 text-center">
              +
          </div>
        </li>
        <li class="nav-item px-2 py-2"  style="cursor: pointer;" >
          <a class="d-flex flex-row" href="#recursosHumanos" data-bs-toggle="collapse" aria-expanded="false" aria-controls="recursosHumanos">
              <div class="col-2 text-center">
                  <i class="fas fa-users"></i>
              </div>
              <div class="col-9">
                  <span>Recursos</span ><span class="ms-1">humanos</span>
              </div>
              <div class="col-1 text-center">
                  +
              </div>
          </a>
        </li>
        <li class="nav-item px-2 py-2"  style="cursor: pointer;" >
          <a class="d-flex flex-row " href="#actividadFinanciera" data-bs-toggle="collapse" aria-expanded="false" aria-controls="actividadFinanciera">
              <div class="col-2 text-center">
                  <i class="fas fa-money-check"></i>
              </div>
              <div class="col-9">
                  <span class="">Actividades financieras</span>
              </div>
              <div class="col-1 text-center">
                  +
              </div>
          </a>
          <ul class="collapse list-unstyled" id="actividadFinanciera">
              <li class="nav-item"><a class="nav-link d-flex" >
                  <div class="col-2 text-center">
                      <i class="fas fa-money-check"></i>
                  </div>
                  <div class="col-10 ms-1">
                      <span> Pagos</span>
                  </div>
              </a></li>
              <li class="nav-item"><a class="nav-link d-flex" >
                  <div class="col-2 text-center">
                      <i class="fas fa-plus-circle"></i>
                  </div>
                  <div class="col-10 ms-1">
                      <span> Añadir pago</span>
                  </div>
              </a></li>
              <li class="nav-item"><a class="nav-link d-flex" >
                  <div class="col-2 text-center">
                      <i class="fas fa-edit"></i>
                  </div>
                  <div class="col-10 ms-1">
                      <span> Procedimiento de</span>
                  </div>
              </a></li>
              <li class="nav-item"><a class="nav-link d-flex" >
                  <div class="col-2 text-center">
                      <i class="fas fa-money-check"></i>
                  </div>
                  <div class="col-10 ms-1">
                      <span> Gastos</span>
                  </div>
              </a></li>
              <li class="nav-item"><a class="nav-link d-flex" >
                  <div class="col-2 text-center">
                      <i class="fas fa-plus-circle"></i>
                  </div>
                  <div class="col-10 ms-1">
                      <span> Añadir gastos</span>
                  </div>
              </a></li>
              <li class="nav-item"><a class="nav-link d-flex" >
                  <div class="col-2 text-center">
                      <i class="fas fa-edit"></i>
                  </div>
                  <div class="col-10 ms-1">
                      <span>Categorías de gastos</span>
                  </div>
              </a></li>
          </ul>
          
        </li>
      </ul>
    </div>
  </div>

  <div id="dashboard">
    <router-outlet></router-outlet>
  </div>